h3 {
    font-size: 25px !important;
}

.btn-success:hover {
    background-color: gold;
    color: black;
}

canvas {
    animation-name: colorAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes colorAnimation {
    from {
        box-shadow: 1px 1px 38px yellow;
    }

    to {
        box-shadow: 1px 1px 38px blue;
    }
}
